@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Plus Jakarta Sans";
  --font-header: "Space Grotesk";
  --color-bg-default: #f9f7f5;
  --color-bg-secondary: #f8f3ef;

  --color-text-dark: #191919;
  --color-text-dark-primary: #4c4c4c;
  --color-text-dark-muted: #cbc7c4;
  --color-text-brown: #bb875d;
  --color-text-grey: #9f9c99;

  --color-dot: #e5e5e5;

  --color-item-brown: #ad9f8e;
  --color-item-green: #547862;
  --color-item-grey: #afb2b7;

  --color-opacity: rgba(0, 0, 0, 0.2);

  --height-mid: 20vh;

  --top-hidden: -100%;
  --top-show-s: 80px;
  --top-show-m: 92px;
  --width: 90%;

  --break-point-l: 1200px;
  --break-point-s: 765px;
}

@layer components {
  .body {
    @apply flex justify-center;
  }
  .header {
    @apply lg:h-fit h-auto mx-auto text-white lg:w-(--width) lg:py-4 py-6 xl:px-10 lg:px-0 px-6 flex justify-between;
  }
  .brand-name {
    @apply xl:w-65 font-(family-name:--font-header) uppercase md:text-[32px] lg:text-2xl text-xl font-bold tracking-wide content-center;
  }

  .navbar-box {
    @apply leading-0 lg:bg-inherit bg-amber-50 mx-auto lg:w-fit w-full lg:min-h-fit lg:static absolute min-h-(--height-mid) flex justify-center left-0  lg:border-b-0 border-b-1 border-amber-700;
  }
  .navbar {
    @apply leading-0 font-(family-name:--font-header) flex lg:flex-row flex-col  items-center justify-between lg:gap-9 gap-8 text-xl;
  }

  .nav-title {
    @apply leading-6 text-base uppercase font-medium content-center;
  }

  .nav-logo-box {
    @apply p-2 inline-flex items-center justify-center bg-(--color-opacity) rounded-full;
  }

  .nav-logo-icon {
    @apply fill-current md:w-6 w-4 md:h-6 h-4;
  }

  .nav-logo:hover {
    @apply fill-current text-(--color-text-dark) bg-white;
  }

  .nav-actions {
    @apply flex items-center justify-between lg:gap-5 gap-2.5;
  }

  .btn-login {
    @apply w-full text-black py-3.5 px-8 text-sm font-bold bg-white rounded-full;
  }
}

:root {
  font-family: "Plus Jakarta Sans";
  /* , Space Grotesk, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* line-height: 1; */
  /* font-weight: 400; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-xloothing: antialiased;
  -moz-osx-font-xloothing: grayscale;
}

body {
  @apply w-dvw leading-none bg-amber-100;
}

/* *{
  @apply h-fit;
} */
/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 0.87em 1.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: Plus Jakarta Sans;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
 */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
