@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Plus Jakarta Sans";
  --font-header: "Space Grotesk";
  --color-bg-default: #f9f7f5;
  --color-bg-secondary: #f8f3ef;

  --color-text-dark: #191919;
  --color-text-dark-primary: #4c4c4c;
  --color-text-dark-muted: #cbc7c4;
  --color-text-brown: #bb875d;
  --color-text-grey: #9f9c99;

  --color-dot: #e5e5e5;

  --color-item-brown: #ad9f8e;
  --color-item-green: #547862;
  --color-item-grey: #afb2b7;
  --color-item-blue: #1e3757;
  --color-border-item: #eeeeee;
  --color-border-item-active: #b2916f;

  --color-opacity: rgba(0, 0, 0, 0.2);
  --color-boxshadow-header: rgba(255, 255, 255, 0.6);
  --color-boxshadow-items-color: #0000001f 0px 2px 6px 0px;
  --transform-ogirin: 50% 50% 0px;

  --height-mid: 20vh;

  --top-show-s: 80px;
  --top-show-m: 92px;

  --width-header: 90%;
  --bg-hero: /images/hero/hero.jpg;

  --mx-sm: 24px;
  --mx-md: 60px;
  --mx-lg: 100px;
  --mx-xl: 113px;
}

@layer components {
  .app {
    @apply w-full bg-(--color-bg-default) flex flex-col items-center justify-center  p-0 m-0;
  }
  .header-box {
    @apply border-b-[0.5px] border-(--color-boxshadow-header) w-full px-(--mx-sm) md:px-(--mx-md) lg:px-(--mx-lg) xl:px-(--mx-xl);
  }
  .header {
    @apply lg:h-fit h-auto mx-auto md:mx-0  text-white  lg:py-4 py-8 flex justify-between;
  }
  .brand-name {
    @apply xl:w-65 font-(family-name:--font-header) uppercase md:text-[32px] lg:text-2xl text-2xl font-bold tracking-wide content-center flex items-center;
  }

  .navbar-box {
    @apply leading-0 lg:bg-inherit mx-auto w-full lg:w-fit lg:min-h-fit lg:static absolute min-h-(--height-mid) flex justify-center content-center left-0  lg:border-b-0 border-b-[0.5px] border-(--color-boxshadow-header);
  }
  .navbar {
    @apply leading-0 font-(family-name:--font-header) flex lg:flex-row flex-col  items-center justify-between lg:gap-9 gap-8 text-xl;
  }

  .nav-title {
    @apply text-nowrap hover:text-(--color-text-dark)  hover:origin-(--transform-ogirin) leading-6 text-base uppercase font-medium content-center;
  }

  .nav-logo-box {
    @apply p-2 inline-flex items-center justify-center bg-(--color-opacity) hover:text-(--color-text-dark) hover:bg-white rounded-full;
  }

  .nav-logo-icon {
    @apply fill-current md:w-6 w-4 md:h-6 h-4;
  }

  /* .nav-logo:hover {
    @apply fill-current text-(--color-text-dark) bg-white;
  } */

  .nav-actions {
    @apply flex items-center justify-between lg:gap-5 gap-2.5;
  }

  .btn-login {
    @apply w-full text-black py-3.5 px-8 text-sm font-bold bg-white rounded-full;
  }

  .header-hero {
    @apply relative z-1 h-200   w-full   
     /* bg-[center_top]
     lg:bg-[center_top] */
     /* lg:bg-[left_-100px_top_-50px]  */
      text-center
      /* md:bg-[left_-110px_top_-40px]
      md:bg-[length:200%_cover]; */;
  }
  .img-header-hero {
    @apply absolute inset-0 z-[-1] h-full w-full md:object-left-top;
  }
  .hero {
    @apply h-max px-(--mx-sm) md:px-(--mx-md) lg:px-(--mx-lg) xl:px-(--mx-xl) mt-[293px]
    grid grid-flow-row grid-cols-1  gap-4
      md:grid-cols-4 md:gap-y-11 md:gap-x-22
      lg:gap-y-4 lg:grid-cols-5 xl:gap-y-4
      items-center   text-(--color-bg-secondary) md:mt-85 lg:mt-[49px] xl:mt-[77px] xl:mx-5;
  }
  .hero-title {
    @apply md:leading-[170px]
    md:col-span-full md:row-start-2 lg:row-start-3 text-[82px] leading-[90.2px] lg:leading-[246.4px] md:text-[154px]  lg:text-[224px] xl:row-end-5  font-bold font-(family-name:--font-header) xl:text-nowrap;
  }

  .hero-title-primary {
    @apply text-2xl lg:leading-[45px] lg:col-span-2 lg:text-wrap md:text-[28px] lg:text-[32px] font-bold font-(family-name:--font-header) text-nowrap;
  }

  .hero-info {
    @apply text-base font-medium xl:text-lg;
  }

  .text-first {
    @apply hidden w-full md:col-span-1  lg:flex lg:flex-col  lg:col-start-5  gap-4 justify-end text-right lg:mb-16 lg:justify-items-end items-end;
  }

  .text-second {
    @apply flex flex-col gap-4 items-center text-center
    md:col-span-1 md:col-start-1 md:col-end-3 md:text-left md:items-start
    lg:col-span-2 lg:col-start-1 lg:col-end-4  xl:col-start-1 xl:col-end-3;
  }

  .box-btn-see {
    @apply md:col-span-2 md:col-end-5
    mx-auto md:mx-0 mt-[20px] md:mt-0
    md:flex md:justify-end h-full md:items-end
    lg:col-start-4 lg:col-span-2;
  }

  .about-us {
    @apply relative w-full bg-none;
  }

  .introdution {
    @apply lg:sticky lg:top-0 lg:z-1 
      bg-(--color-bg-secondary)  w-full px-(--mx-sm) md:px-(--mx-md) lg:px-(--mx-lg) xl:px-(--mx-xl) py-15 text-center flex flex-col gap-6  justify-center font-bold
    md:py-20 md:text-start;
  }
  .introdution-title {
    @apply md:text-start tracking-[3.2px] text-(--color-text-brown) font-bold text-base uppercase;
  }

  .about-des {
    @apply relative  lg:leading-[67.2px] md:text-[32px] lg:text-5xl  md:leading-[44.8px]  text-(--color-text-dark) font-(family-name:--font-header)  text-2xl mb-10 leading-[33.6px];
  }

  .about-tayson {
    @apply lg:grid-rows-5 lg:grid-cols-9 lg:pt-0 md:pb-0 grid grid-rows-7 grid-cols-5 md:grid-rows-6 md:grid-cols-7 h-[687px] lg:h-[850px] py-15 px-(--mx-sm) md:px-(--mx-md) lg:px-(--mx-lg) xl:px-(--mx-xl);
  }
  .img-taysonf {
    @apply lg:col-span-4 lg:row-span-4 w-full row-span-4 col-span-full  row-start-1 md:row-span-3  md:col-span-2;
  }

  .img-taysonf img {
    @apply lg:w-[486px] lg:h-[600px] w-full h-full object-top object-cover md:object-scale-down md:object-left-top;
  }
  .img-taysonb {
    @apply row-span-2 lg:col-span-3 col-span-2 md:col-start-6  md:mb-5;
  }
  .img-taysonb img {
    @apply w-full h-[80%] lg:w-[383px] lg:h-[326px] md:h-full  object-top object-cover;
  }
  .tayson-des {
    @apply lg:col-span-5 md:text-start  md:col-span-4 md:col-start-4 md:row-start-3 md:row-span-3 flex flex-col gap-3.75 lg:gap-6 text-center row-span-2 col-span-full;
  }

  .tayson-des h3 {
    @apply lg:text-[32px] text-(--color-text-dark) font-bold text-xl m-0.25;
  }
  .tayson-des-p {
    @apply lg:text-lg text-(--color-text-dark-primary) font-medium leading-[25.6px];
  }

  .see-collection {
    @apply mt-4.25 text-(--color-text-dark) font-bold underline decoration-1 underline-offset-8;
  }

  .new-arrivials {
    @apply max-md:mt-5 md:top-300 relative lg:z-0 lg:top-365 bg-(--color-bg-secondary)  w-full px-(--mx-sm) md:px-(--mx-md) lg:px-(--mx-lg) xl:px-(--mx-xl) text-center gap-6 items-center justify-center font-bold
    md:py-20 lg:pb-25 md:pb-20 pb-15;
  }
  .new-arrivials-title-primary {
    @apply mt-5.5 font-(family-name:--font-header) text-(--color-text-dark) gap-4 font-bold text-2xl md:text-[32px] lg:text-5xl;
  }

  .total-items {
    @apply text-(--color-text-grey);
  }

  .btn-next {
    @apply absolute  top-1/2 -translate-y-1/2 hover:text-(--color-text-dark-primary)  hover:bg-(--color-boxshadow-header) shadow-md p-2 rounded-full z-10 flex items-center justify-center bg-(--color-opacity) transition md:hidden;
  }
  .list-new-arrivials {
    @apply w-full mt-[32px] flex gap-5 md:grid md:grid-cols-3  md:grid-rows-3  xl:grid-cols-4  xl:grid-rows-2 md:gap-6  transition-transform duration-500 ease-in-out;
  }

  .new-arrivial {
    @apply max-md:w-[258px]
    xl:w-[282px]
    lg:max-w-[391px]
    
    w-full
     md:col-span-1 md:row-span-1 flex flex-col items-center justify-center;
  }

  .new-arrivial-img-box {
    @apply h-[328px] w-full overflow-hidden flex justify-start;
  }
  .new-arrivial-img {
    @apply w-full h-full object-cover object-top transition-transform duration-300 origin-top hover:scale-120;
  }

  .btn-add-to-card-box {
    @apply h-[47px] mx-auto w-full absolute z-1 bottom-[26px] flex  text-(--color-text-dark) items-center justify-center;
  }

  .btn-add-to-card {
    @apply h-[47px] mx-auto w-[calc(100%-40px)] bottom-[26px] flex  bg-white rounded-[200px] text-(--color-text-dark) items-center justify-center;
  }

  .new-arrivial-name {
    @apply lg:text-xl text-(--color-text-dark) font-(family-name:--font-header);
  }
  .new-arrivial-des {
    @apply w-full flex flex-col gap-2 mt-6 text-start items-start;
  }
  .new-arrivial-price {
    @apply flex gap-3 font-medium text-sm lg:text-[16px];
  }

  .price {
    @apply text-(--color-text-dark);
  }
  .color {
    @apply flex justify-center items-center w-5 h-5 rounded-full border-1;
  }
  .sale-price {
    @apply text-(--color-text-brown) line-through;
  }
  .list-color {
    @apply flex gap-1.5 items-center py-1.5;
  }

  .banner {
    @apply h-[622px] xl:h-[800px] relative md:top-300 lg:top-365;
  }

  .banner-img {
    @apply h-full w-full object-top object-cover;
  }

  .banner-des {
    @apply xl:grid-rows-3 xl:grid-cols-3 md:grid md:grid-cols-2 md:grid-rows-2 top-82 md:top-104.75 xl:top-120.25 text-white absolute z-10  px-(--mx-sm) md:px-(--mx-md) lg:px-(--mx-lg) xl:px-(--mx-xl) flex flex-col gap-6 justify-center items-center text-center;
  }

  .box-btn-explore {
    @apply xl:row-start-3 xl:col-start-3 right-0 md:justify-end flex items-center justify-center w-full h-[59px] overflow-hidden;
  }

  .banner-text-first {
    @apply xl:leading-[86.4px] xl:text-7xl xl:col-span-2 xl:row-span-3  md:text-start md:text-[38px] md:leading-[45.6px] md:col-span-1 md:row-span-2 font-bold text-[28px]  leading-[33.6px];
  }

  .banner-text-second {
    @apply xl:row-start-2 xl:col-start-3 md:text-end font-medium text-[16px] xl:text-lg mb-2;
  }
}
:root {
  font-family: "Plus Jakarta Sans";
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-bg-default);
}
