@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Plus Jakarta Sans";
  --font-header: "Space Grotesk";
  --color-bg-default: #f9f7f5;
  --color-bg-secondary: #f8f3ef;

  --color-text-dark: #191919;
  --color-text-dark-primary: #4c4c4c;
  --color-text-dark-muted: #cbc7c4;
  --color-text-brown: #bb875d;
  --color-text-grey: #9f9c99;

  --color-dot: #e5e5e5;

  --color-item-brown: #ad9f8e;
  --color-item-green: #547862;
  --color-item-grey: #afb2b7;
  --color-item-blue: #1e3757;
  --color-border-item: #eeeeee;
  --color-border-item-active: #b2916f;

  --color-opacity: rgba(0, 0, 0, 0.2);
  --color-boxshadow-header: rgba(255, 255, 255, 0.6);
  --color-boxshadow-items-color: #0000001f 0px 2px 6px 0px;
  --transform-ogirin: 50% 50% 0px;

  --height-mid: 20vh;

  --top-show-s: 80px;
  --top-show-m: 92px;

  --width-header: 90%;
  --bg-hero: /images/hero/hero.jpg;

  --mx-sm: 24px;
  --mx-md: 60px;
  --mx-lg: 100px;
  --mx-xl: 113px;
}

@layer components {
  .app {
    @apply w-full bg-(--color-bg-default) flex flex-col items-center justify-center  p-0 m-0;
  }
  .header-box {
    @apply border-b-[0.5px] border-(--color-boxshadow-header) w-full px-(--mx-sm) md:px-(--mx-md) lg:px-(--mx-lg) xl:px-(--mx-xl);
  }
  .header {
    @apply lg:h-fit h-auto mx-auto md:mx-0  text-white  lg:py-4 py-8 flex justify-between;
  }
  .brand-name {
    @apply xl:w-65 font-(family-name:--font-header) uppercase md:text-[32px] lg:text-2xl text-2xl font-bold tracking-wide content-center flex items-center;
  }

  .navbar-box {
    @apply leading-0 lg:bg-inherit mx-auto w-full lg:w-fit lg:min-h-fit lg:static absolute min-h-(--height-mid) flex justify-center content-center left-0  lg:border-b-0 border-b-[0.5px] border-(--color-boxshadow-header);
  }
  .navbar {
    @apply leading-0 font-(family-name:--font-header) flex lg:flex-row flex-col  items-center justify-between lg:gap-9 gap-8 text-xl;
  }

  .nav-title {
    @apply text-nowrap hover:text-(--color-text-dark) hover:cursor-pointer  hover:origin-(--transform-ogirin) leading-6 text-base uppercase font-medium content-center;
  }

  .nav-logo-box {
    @apply p-2 inline-flex items-center justify-center bg-(--color-opacity) hover:text-(--color-text-dark) hover:bg-white rounded-full;
  }

  .nav-logo-icon {
    @apply fill-current md:w-6 w-4 md:h-6 h-4;
  }

  /* .nav-logo:hover {
    @apply fill-current text-(--color-text-dark) bg-white;
  } */

  .nav-actions {
    @apply flex items-center justify-between lg:gap-5 gap-2.5;
  }

  .btn-login {
    @apply flex items-center justify-center w-full text-black py-3.5 px-8 text-sm font-bold bg-white rounded-full;
  }

  .header-hero {
    @apply relative z-1 min-h-200   w-full   
     /* bg-[center_top]
     lg:bg-[center_top] */
     /* lg:bg-[left_-100px_top_-50px]  */
      text-center
      /* md:bg-[left_-110px_top_-40px]
      md:bg-[length:200%_cover]; */;
  }
  .img-header-hero {
    @apply absolute inset-0 z-[-1] h-full w-full md:object-left-top;
  }
  .hero {
    @apply h-max  mt-[293px]
    grid grid-flow-row grid-cols-1  gap-4
      md:grid-cols-4 md:gap-y-11 md:gap-x-22
      lg:gap-y-4 lg:grid-cols-5 xl:gap-y-4
      items-center   text-(--color-bg-secondary) md:mt-85 lg:mt-[49px] xl:mt-[77px] xl:mx-5;
  }
  .hero-title {
    @apply md:leading-[170px]
    md:col-span-full md:row-start-2 lg:row-start-3 text-[82px] leading-[90.2px] lg:leading-[246.4px] md:text-[154px]  lg:text-[224px] xl:row-end-5  font-bold font-(family-name:--font-header) xl:text-nowrap;
  }

  .hero-title-primary {
    @apply text-2xl lg:leading-[45px] lg:col-span-2 lg:text-wrap md:text-[28px] lg:text-[32px] font-bold font-(family-name:--font-header) text-nowrap;
  }

  .hero-info {
    @apply text-base font-medium xl:text-lg;
  }

  .text-first {
    @apply hidden w-full md:col-span-1  lg:flex lg:flex-col  lg:col-start-5  gap-4 justify-end text-right lg:mb-16 lg:justify-items-end items-end;
  }

  .text-second {
    @apply flex flex-col gap-4 items-center text-center
    md:col-span-1 md:col-start-1 md:col-end-3 md:text-left md:items-start
    lg:col-span-2 lg:col-start-1 lg:col-end-4  xl:col-start-1 xl:col-end-3;
  }

  .box-btn-see {
    @apply md:col-span-2 md:col-end-5
    mx-auto md:mx-0 mt-[20px] md:mt-0
    md:flex md:justify-end h-full md:items-end
    lg:col-start-4 lg:col-span-2;
  }

  .about-us {
    @apply relative w-full;
  }

  .introdution {
    @apply lg:sticky 
        w-full  py-15 text-center flex flex-col gap-6  justify-center font-bold
    md:py-20 md:text-start;
  }
  .introdution-title {
    @apply md:text-start tracking-[3.2px] text-(--color-text-brown) font-bold text-base uppercase;
  }

  .about-des {
    @apply xl:leading-[67.2px] md:text-[32px] xl:text-5xl  md:leading-[44.8px]  text-(--color-text-dark) font-(family-name:--font-header)  text-2xl mb-10 leading-[33.6px];
  }

  .about-tayson {
    @apply max-md:py-15  w-full max-md:gap-y-16.75 md:gap-x-21.75 lg:gap-x-16 xl:gap-x-[126px] lg:pt-0 md:pb-0 grid grid-flow-row-dense md:grid-rows-none md:grid-flow-col-dense;
  }
  .img-taysonf {
    @apply xl:w-[486px] xl:h-[600px] lg:w-[384px] lg:h-[474px] h-78 md:h-[274px] md:w-[222px]   w-full    row-start-1 md:col-start-1 md:col-span-1;
  }

  .img-taysonf img {
    @apply w-full h-full object-top object-cover md:object-scale-down md:object-left-top;
  }
  .img-taysonb {
    @apply xl:h-[326px] lg:w-[310px] lg:h-66 absolute top-72.25 z-1 w-40 h-29.5  md:h-41 xl:w-[383px] md:w-[222px] row-span-2  col-span-2;
  }
  .img-taysonb img {
    @apply w-full h-full  object-top object-cover;
  }
  .tayson-des {
    @apply md:text-start lg:col-start-2  md:col-span-1 md:col-start-2  flex flex-col text-center row-span-1 col-span-full;
  }

  .tayson-des h3 {
    @apply mb-4 md:mb-6 lg:text-[32px] text-(--color-text-dark) font-bold text-xl;
  }
  .tayson-des-p {
    @apply mb-6  lg:text-lg text-(--color-text-dark-primary) font-medium leading-[25.6px];
  }

  .see-collection {
    @apply text-(--color-text-dark) font-bold underline decoration-1 underline-offset-8;
  }

  .new-arrivials {
    @apply lg:z-0  bg-(--color-bg-secondary)  w-full px-(--mx-sm) md:px-(--mx-md) lg:px-(--mx-lg) xl:px-(--mx-xl) text-center gap-6 items-center justify-center font-bold
    md:pb-20 py-15 xl:pt-66.5 md:pt-52.75 lg:pt-53.5 pb-15;
  }
  .new-arrivials-title-primary {
    @apply mt-5.5 font-(family-name:--font-header) text-(--color-text-dark) gap-4 font-bold text-2xl md:text-[32px] lg:text-5xl;
  }

  .total-items {
    @apply text-(--color-text-grey);
  }

  .btn-next {
    @apply absolute  top-1/2 -translate-y-1/2 hover:text-(--color-text-dark-primary)  hover:bg-(--color-boxshadow-header) shadow-md p-2 rounded-full z-10 flex items-center justify-center bg-(--color-opacity) transition md:hidden;
  }
  .list-new-arrivials {
    @apply w-full mt-[32px] flex gap-5 md:grid md:grid-cols-3  md:grid-rows-3  xl:grid-cols-4  xl:grid-rows-2 md:gap-6  transition-transform duration-500 ease-in-out;
  }

  .new-arrivial {
    @apply max-md:w-[258px]
    xl:w-[282px]
    lg:max-w-[391px]
    
    w-full
     md:col-span-1 md:row-span-1 flex flex-col items-center justify-center;
  }

  .new-arrivial-img-box {
    @apply h-[328px] w-full overflow-hidden flex justify-start;
  }
  .new-arrivial-img {
    @apply w-full h-full object-cover object-top transition-transform duration-300 origin-top hover:scale-120;
  }

  .btn-add-to-card-box {
    @apply h-[47px] mx-auto w-full absolute z-1 bottom-[26px] flex  text-(--color-text-dark) items-center justify-center;
  }

  .btn-add-to-card {
    @apply h-[47px] mx-auto w-[calc(100%-40px)] bottom-[26px] flex  bg-white rounded-[200px] text-(--color-text-dark) items-center justify-center;
  }

  .new-arrivial-name {
    @apply lg:text-xl text-(--color-text-dark) font-(family-name:--font-header);
  }
  .new-arrivial-des {
    @apply w-full flex flex-col gap-2 mt-6 text-start items-start;
  }
  .new-arrivial-price {
    @apply flex gap-3 font-medium text-sm lg:text-[16px];
  }

  .price {
    @apply text-(--color-text-dark);
  }
  .color {
    @apply flex justify-center items-center w-5 h-5 rounded-full border-1;
  }
  .sale-price {
    @apply text-(--color-text-brown) line-through;
  }
  .list-color {
    @apply flex gap-1.5 items-center py-1.5;
  }

  .banner {
    @apply h-[622px] xl:h-[800px];
  }

  .banner-img {
    @apply h-full w-full object-top object-cover;
  }

  .banner-des {
    @apply xl:grid-rows-3 xl:grid-cols-3 md:grid md:grid-cols-2 md:grid-rows-2  text-white   px-(--mx-sm) md:px-(--mx-md) lg:px-(--mx-lg) xl:px-(--mx-xl) flex flex-col gap-6 justify-center items-center text-center;
  }

  .box-btn-explore {
    @apply xl:row-start-3 xl:col-start-3 right-0 md:justify-end flex items-center justify-center w-full h-[59px] overflow-hidden;
  }

  .banner-text-first {
    @apply xl:leading-[86.4px] xl:text-7xl xl:col-span-2 xl:row-span-3  md:text-start md:text-[38px] md:leading-[45.6px] md:col-span-1 md:row-span-2 font-bold text-[28px]  leading-[33.6px];
  }

  .banner-text-second {
    @apply xl:row-start-2 xl:col-start-3 md:text-end font-medium text-[16px] xl:text-lg mb-2;
  }

  .categories {
    @apply lg:py-30 md:py-20  md:text-start text-center pt-15 pb-7 px-(--mx-sm) md:px-(--mx-md) lg:px-(--mx-lg) xl:px-(--mx-xl);
  }

  .list-category {
    @apply md:grid  md:grid-rows-4 gap-6;
  }

  .category {
    @apply xl:overflow-hidden xl:relative lg:grid-cols-2 flex flex-col md:row-span-1 md:grid md:grid-cols-3 md:grid-flow-col-dense  items-center justify-center;
  }

  .category-img-box {
    @apply xl:w-full xl:h-full xl:row-span-2 lg:h-[272px] md:h-[221px] md:w-full md:col-span-1 xl:overflow-hidden  h-[311px] w-[384px];
  }

  .category-img {
    @apply h-full w-full object-cover xl:transition-transform xl:duration-300  xl:group-hover:scale-110;
  }

  .category-info {
    @apply xl:group-hover:pb-6.25
     xl:text-white xl:m-0 xl:px-6 lg:col-span-1 md:col-span-2 md:row-span-1  text-(--color-text-dark);
  }

  .category-name {
    @apply xl:text-[32px] mt-6 mb-2.5 font-bold text-[20px] font-(family-name:--font-header);
  }

  .category-des {
    @apply xl:text-lg mb-8 font-medium xl:leading-[28.8px] leading-[25.6px];
  }

  .feedback {
    @apply w-full xl:py-25 py-15 bg-(--color-bg-secondary) 
    px-(--mx-sm) md:px-(--mx-md) lg:px-(--mx-lg) xl:px-(--mx-xl);
  }
  .a-feedback {
    @apply mt-13.75 xl:mt-18  xl:gap-x-31.75 md:gap-x-21.25 md:text-start text-center grid grid-cols-2 grid-flow-row-dense  h-fit;
  }

  .feedback-content {
    @apply col-span-full  md:flex md:flex-col md:gap-6 md:justify-center  md:col-span-1 text-(--color-text-dark-primary) md:col-start-2;
  }
  .feedback-content-title {
    @apply xl:text-[32px] xl:leading-[51.2px] md:text-2xl md:m-0 mb-4 md:leading-[38.4px] leading-[32px] text-[20px] font-bold;
  }

  .feedback-content-des {
    @apply xl:text-[20px] xl:leading-[32px] mb-8 md:m-0 md:leading-[25.6px] font-medium;
  }
  .feedback-img {
    @apply w-full md:h-[436px]  flex justify-end md:justify-start col-start-2 col-span-1 md:col-start-1 md:mr-20.5;
  }

  .feedback-img img {
    @apply w-12 h-12 md:w-full md:h-full  object-cover;
  }

  .feedback-customer {
    @apply flex gap-3   col-span-1 md:col-start-2;
  }

  .cus-info {
    @apply text-start font-medium;
  }

  .cus-name {
    @apply text-(--color-text-dark);
  }

  .cus-job {
    @apply text-sm text-(--color-text-grey);
  }
  .cus-avt img {
    @apply w-12 h-12 rounded-full overflow-hidden;
  }

  .articles {
    @apply grid grid-flow-row-dense md:grid-flow-col-dense lg:py-30 md:py-20  md:text-start text-center pt-15 pb-7 px-(--mx-sm) md:px-(--mx-md) xl:px-(--mx-xl);
  }
  .list-articles {
    @apply flex flex-col gap-5 md:row-start-3 md:col-span-3;
  }
  .an-article {
    @apply lg:gap-x-8 text-start grid grid-flow-row-dense md:grid-cols-2 gap-4  pb-5;
  }
  .article-content {
    @apply xl:pr-12 flex items-center gap-5.25 text-(--color-text-dark-primary) font-medium;
  }

  .article-img {
    @apply overflow-hidden h-35 w-full md:flex md:justify-end md:col-start-2 lg:col-start-3;
  }

  .article-img img {
    @apply lg:transition-transform lg:duration-300 lg:ease-in-out lg:hover:scale-110 h-full w-full md:w-70.5 object-cover object-center;
  }

  .shop-now {
    @apply w-full h-full bg-[url(../images/footer/footer.jpg)] bg-center bg-cover;
  }

  .shop-now-bg img {
    @apply w-full h-full object-cover;
  }

  .shop-now-content {
    @apply text-center xl:py-29 py-15 md:py-20 w-full h-full px-(--mx-sm) md:px-(--mx-md);
  }

  .shop-title {
    @apply xl:px-10 xl:text-7xl md:mb-8 md:text-[38px] font-(family-name:--font-header) text-[28px] font-bold mb-6;
  }

  .shop-des {
    @apply md:mb-14 lg:text-lg font-medium mb-8;
  }

  .footer {
    @apply pt-16 text-center bg-(--color-text-dark);
  }

  .footer-f {
    @apply lg:text-start lg:grid-flow-col-dense grid grid-flow-row px-(--mx-sm) md:px-(--mx-md)  xl:px-(--mx-xl);
  }
  .footer p {
    @apply font-medium text-(--color-text-dark-muted);
  }
  .footer-title {
    @apply text-white text-[42px] font-(family-name:--font-header) font-bold uppercase;
  }

  .footer-socials {
    @apply flex justify-center lg:justify-start gap-2;
  }
  .footer-socials-icon {
    @apply mb-8.5 w-6 h-6 p-[5.5px] text-(--color-text-dark-muted);
  }

  .list-outline {
    @apply xl:gap-x-14 md:items-center md:pb-0 xl:w-114 lg:w-102 lg:gap-x-8 lg:col-span-1  grid lg:grid-flow-col-dense gap-y-4 pb-11.5;
  }

  .out-line {
    @apply lg:w-fit mb-4 font-medium lg:leading-[25.6px];
  }
  .outline-title {
    @apply mb-8 text-white text-[20px] font-(family-name:--font-header) font-bold;
  }
  .footer-s {
    @apply lg:pt-9 lg:pb-6.25 md:pt-11.75 md:pb-9 pt-6.75 pb-4 items-center lg:px-(--mx-md)  xl:px-(--mx-xl) lg:flex lg:justify-between border-t-1 border-[#474747] text-sm;
  }
  .copy-right {
    @apply opacity-70;
  }

  .end-footer {
    @apply opacity-70 flex gap-8 justify-center mt-3  lg:m-0;
  }
}
:root {
  font-family: "Plus Jakarta Sans";
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f9f7f5;
}
/* 
html,
body {
  overflow-x: hidden;
} */
